@import "tailwindcss";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  /* height: 100%; */
  background-repeat: no-repeat;
}

@theme {
  --color-neutral-900: #21214d;
  --color-neutral-600: #57577b;
  --color-neutral-300: #9393b7;
  --color-neutral-200: #cbcdd0;
  --color-neutral-0: #ffffff;
  --color-blue-700: #2a4cd5;
  --color-blue-600: #4865db;
  --color-blue-200: #c7d3f7;
  --color-blue-100: #e0e6fa;
  --color-red-700: #e60013;
  --color-red-300: #ff9b99;
  --color-indigo-200: #b8b1ff;
  --color-blue-300: #89caff;
  --color-green-300: #89e780;
  --color-amber-300: #ffc97c;
}

.transparent-overlay {
  @apply bg-neutral-900 opacity-70 w-screen h-screen z-100 fixed inset-0;
}

.outline-focus {
  @apply focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-blue-600;
}

.text-preset-2 {
  @apply text-[4rem] leading-[120%] tracking-[0.3px];
}

.text-preset-2-mobile {
  @apply text-[3.2rem] leading-[120%] tracking-[0.3px];
}

.text-preset-3 {
  @apply text-[3.2rem] leading-[140%] tracking-[0.3px];
}

.text-preset-3-mobile {
  @apply text-[2.8rem] leading-[130%] tracking-[0.3px];
}

.text-preset-4 {
  @apply text-[2.4rem] leading-[140%] tracking-[0px];
}

.text-preset-5 {
  @apply text-[2rem] leading-[140%] tracking-[0px];
}

.text-preset-6 {
  @apply text-[1.8rem] leading-[120%];
}

.text-preset-6-regular {
  @apply text-[1.8rem] leading-[140%] tracking-[-0.3px];
}

.text-preset-6-italic {
  @apply text-[1.8rem] leading-[130%] tracking-[0px] italic text-neutral-600;
}

.text-preset-7 {
  @apply text-[1.5rem] leading-[140%] tracking-[-0.3px];
}

.text-preset-8 {
  @apply text-[1.3rem] leading-[100%] tracking-[0px] font-semibold text-neutral-600;
}

.text-preset-9 {
  @apply text-[1.2rem] leading-[110%] tracking-[0px]  text-neutral-600;
}
